---
import ResearchList from "@/components/research/ResearchList.astro";
import Hero from "../components/Hero.astro";
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Marcel Rosier">
  <Main>
    <Hero />
    <ResearchList />
  </Main>
</Layout>
