---
import { Icon } from "astro-icon/components";

const links = Astro.props.links;
---

<div class="flex flex-row space-x-2">
  {
    links.map((link) => (
      <a href={link.url} target="_blank" rel="noopener noreferrer">
        <Icon name={`simple-icons:${link.icon}`} />
      </a>
    ))
  }
</div>
