---
import AuthorList from "@/components/research/AuthorList.astro";
import { type CollectionEntry } from "astro:content";
import LinkList from "./LinkList.astro";

type Props = {
  researchEntry: CollectionEntry<"research">;
};

const { researchEntry } = Astro.props;
---

<div>
  <h3 class="m-0 text-xl">{researchEntry.data.title}</h3>
  <AuthorList authors={researchEntry.data.authors} />
  <div class="flex items-center mt-2 space-x-4">
    <span class="text-sm text-gray-600">{researchEntry.data.date}</span>
    <LinkList links={researchEntry.data.links} />
  </div>
</div>
