---
const { type = "info", title } = Astro.props;

const typeClasses = {
  info: "border-blue-500 bg-blue-50 text-blue-700",
  warning: "border-yellow-500 bg-yellow-50 text-yellow-700",
  error: "border-red-500 bg-red-50 text-red-700",
  success: "border-green-500 bg-green-50 text-green-700",
};
---

<div
  class={`border-l-4 p-4 my-4 rounded ${typeClasses[type] ?? typeClasses.info}`}
>
  {title && <div class="font-semibold mb-2">{title}</div>}
  <slot />
</div>
